<div class="home">
    <div class="top-bar">
        <div class="logo">
            <a href="#"><span>Mog</span>Moshabi Services</a>
            <a href="#" ng-click="logout()" class="pull-right">logout</a>
        </div>






    </div>
    <!--end of top bar-->
    <div class="w3-row col-md-12"">
    <h1 class="list-group-item-heading">TODO</h1>
        <div class="home-content >
            <div class="card-columns" ng-repeat="todo in todos|limitTo:10|orderBy:'state'">
            
          
                <div class="item card mb-3">
                  
                    <div class="card-body">
                        <h3 class="card-title mb-1"><a href="#">{{todo.runner}}</a></h3>
                        <p class="card-text small w3-text-grey">{{ todo.text }}
                           
                        </p>
                    </div>
                    <hr class="my-0">
                    <div class="card-body py-2 small">
                        <a class="mr-3 d-inline-block"  ui-sref="addsubTask({id:todo._id})">
                            <i class="fa fa-fw fa-thumbs-up"></i>Add subTask</a>
                        <a class="mr-3 d-inline-block" ui-sref="moreDetails({id:todo._id})">
                            <i class="fa fa-fw fa-comment"></i>Feedback</a>
                        <a class="d-inline-block" >
                           {{todo.currentStatus}}</a>
                    </div>
                     <div  ng-click="update(todo)" class="card-footer small text-muted"><a href="#"><button ng-style="todo.style" class="btn btn-lg btn-block ">{{todo.state}}</button></a></div>
                   
                </div>
              
            </div>

            <ul ng-show="pager" class="pager">

                <li class="next"><a href="#">more &rarr;</a></li>
            </ul>

        </div>


    </div>
    <!--end of home content-->
</div>
<div class="container">

    <!-- HEADER AND TODO COUNT -->
    <div class="jumbotron text-center">
        <h1>What needs to get DONE <span class="label label-info">{{ todos.length }}</span></h1>
    </div>



    <!-- FORM TO CREATE TODOS -->
    <div id="todo-form" class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <form>
                <div class="form-group">

                    <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                    <input type="text" class="form-control input-lg text-center" placeholder="list what needs to get done" ng-model="formData.text">
                </div>

                <!-- createToDo() WILL CREATE NEW TODOS -->
                <button type="submit" class="btn btn-primary btn-lg" ng-click="createTodo(formData)">Add</button>
            </form>
        </div>
    </div>

</div>