<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <a ui-sref="home">
        <span class="pull-right cross-btn" ng-click="closePost()"><i class="fa fa-close"></i></span></a>

        <div >
            <div class="col-xs-12 col-sm-12">
                <div>
                    <h2 class="media-heading text-uppercase reviews"><span class="fa fa-user"></span> {{ todo.runner}}</h2>

                    <span class="label label-info">{{todo.currentStatus}}</span>
                    <a ui-sref="moreDetails({id:todo._id})" > <span class="label label-info pull-right">view feedback</span> </a>


                    <p style="margin:15px" class="media-comment">
                        {{todo.text}}
                    </p>
                    <div class="content">
                        <a class="btn btn-simple btn-just-icon" data-toggle="collapse" data-parent="#accordion" data-target="#subTask" id="reply">
                            <i class="fa fa-plus"></i>add</a>

                    </div>


                </div>

                <div id="subTask" class="panel-collapse collapse">
                    <textarea class="form-control" ng-model="subtask.text" placeholder="add a subtask" rows="5" cols="40"></textarea>


                    <button type="submit" value="add subTask" ng-click="addsubTask(subtask)" class="btn btn-info pull-right">add subTask</button>

                </div>
                <br/>
                <br/>
                <hr/>
                       <div class="title">
            <h2>Todo</h2>
        </div>
                <div class="feedbacks-list">
                    <div class="single-feedback" ng-repeat="subTask in todo.subTasks">
                        <ul class="media-list">
                            <li class="media">
                             <div class="checkbox">
								<label>
									<input type="checkbox" name="optionsCheckboxes">
									{{subTask.text}}
								</label>
                                 <span class="label label-success pull-right">{{todo.currentStatus}}</span>

							</div>
                            
                            </li>

                        </ul>

                    </div>
                </div>
            </div>
    </div>
    </div> 
</div>

<!-- Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc -->
<script src="assets/js/material-kit.js" type="text/javascript"></script>
