


  <div id="accordion" class="col-xs-12">
    <div class="well well-lg">
      <h4 class="media-heading text-uppercase reviews"><span class="fa fa-user"></span> {{ todo.runner}}</h4>
      <ul class="media-date text-uppercase reviews list-inline">
       
        <li><a class="btn btn-info btn-circle text-uppercase" href="#" id="reply"><span class="glyphicon glyphicon-share-alt"></span>{{todo.currentStatus}}</a></li>
       
      </ul>
      <p class="media-comment">
        {{todo.text}}
      </p>
      <a class="btn btn-info btn-circle text-uppercase" data-toggle="collapse" data-parent="#accordion" data-target="#comment" id="reply"><span class="glyphicon glyphicon-add"></span>add feedback</a>
    </div>
    <br/>
    <div id="comment" class="panel-collapse collapse">
    <textarea rows="5" cols="40" class="form-control" ng-model="feedback.content" placeholder="Type in your feedback"></textarea>
     <br/>
    <button type="submit" value="post feedback" ng-click="savefeedback()" class="btn-success btn-small pull-right">post feedback</button>
    <hr/>
    </div>
   
    <div class="feedbacks-list">
      <div class="single-feedback" ng-repeat="feedback in todo.feedbacks">
        <ul class="media-list">
          <li class="media">
            <div id="mediaBody" class="media-body">
              <div class="well well-lg">
                <h4 class="media-heading text-uppercase reviews">{{feedback.author}}</h4>
                <ul class="media-date text-uppercase reviews list-inline">
                  <li class="dd">{{feedback.datePublished | date:'MM-dd-yy'}}</li>
             
                </ul>
                <p class="media-comment">
                  {{feedback.content}}
                </p>
                <a  ng-hide="true" class="btn btn-info btn-circle text-uppercase" href="#" id="reply"><span class="glyphicon glyphicon-share-alt"></span> Reply</a>
                <a ng-hide="true" class="btn btn-warning btn-circle text-uppercase" data-toggle="collapse" data-target="#replyThree"><span class="glyphicon glyphicon-comment"></span> 2 comments</a>
              </div>
            </div>
            <div >
            <div  ng-repeat="reply in feebacks" class="collapse" id="replyThree" class="row" >
              <ul class="media-list">
                <li class="media media-replied">
                  <a class="pull-left" href="#">
                    <img class="media-object img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/ManikRathee/128.jpg" alt="profile">
                  </a>
                  <div class="media-body">
                    <div class="well well-lg">
                      <h4 class="media-heading text-uppercase reviews"><span class="glyphicon glyphicon-share-alt"></span> The Hipster</h4>
                      <ul class="media-date text-uppercase reviews list-inline">
                        <li class="dd">22</li>
                        <li class="mm">09</li>
                        <li class="aaaa">2014</li>
                      </ul>
                      <p class="media-comment">
                        Nice job Maria.
                      </p>
                      <a class="btn btn-info btn-circle text-uppercase" href="#" id="reply"><span class="glyphicon glyphicon-share-alt"></span> Reply</a>
                    </div>
                  </div>
                </li>
             
              </ul>
            </div>
            </div>
          </li>
        
        </ul>
      
      </div>
    </div>
  </div>


